@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "مقفل";
}

<hgroup>
    <h1 class="text-danger">مقفل.</h1>
    <h2 class="text-danger">هذا الحساب مقفل, رجائاً حاول لاحقا.</h2>
</hgroup>
